* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
textarea#code {
  width: 100%;
  height: calc(100% - 100px);
}
pre#console {
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  font-family: courier new;
  font-weight: bold;
}
