* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
textarea#code, pre#colorfulCode, pre#console {
  width: 100%;
  display: block;
  margin: 0;
  padding: 20px;
  font-family: courier new;
  font-size: 16px;
}
textarea#code, pre#colorfulCode {
  height: calc(100% - 100px);
  overflow: hidden;
  /* need to fix this */
}
textarea#code {
  background-color: transparent;
  border: none;
  -webkit-text-fill-color: transparent;
  color: white;
  outline: none;
  resize: none;
}
textarea#code::-webkit-input-placeholder {
  color: white;
}
pre#colorfulCode {
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 0;
}
textarea#resultCode {
  display: none;
}
button#result {
  position: absolute;
  bottom: 120px;
  right: 20px;
  background-color: darkgrey;
  color: white;
  border: none;
}
pre#console {
  height: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
}
