* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
textarea#code, pre#console {
  width: 100%;
  display: block;
  margin: 0;
  padding: 20px;
}
textarea#code {
  height: calc(100% - 100px);
}
textarea#resultHtml {
  display: none;
}
button#result {
  position: absolute;
  bottom: 120px;
  right: 20px;
  background-color: darkgrey;
  color: white;
  border: none;
}
pre#console {
  height: 100px;
  background-color: black;
  color: white;
  font-family: courier new;
  font-weight: bold;
}
